<nav class="navbar glass-liquid">
    <div class="nav-brand" routerLink="/">VOTTA</div>

    <div class="nav-links">

        @if (isAdmin()) {
        <a routerLink="/admin/dashboard" routerLinkActive="active-link">Dashboard</a>
        <a routerLink="/admin/create-poll" routerLinkActive="active-link">New Poll</a>
        }

        @if (isLoggedIn() && !isAdmin()) {
        <a routerLink="/polls" routerLinkActive="active-link">Polls</a>

        <a routerLink="/my-votes" routerLinkActive="active-link">My History</a>
        }
    </div>

    <div class="nav-auth">
        @if (isLoggedIn()) {
        <div class="user-control-group">
            @if (!isAdmin()) {
            <div class="profile-circle" routerLink="/profile" routerLinkActive="active-link" style="cursor: pointer;">
                {{ (user()?.name?.charAt(0) | uppercase) || '?' }}
            </div>
            } @else {
            <span class="admin-tag">YOU_ARE_NOW_ON_ADMIN_VIEW</span>
            }
            <button class="btn-logout-text" (click)="logout()">Logout</button>
        </div>
        } @else {
        <a routerLink="/login" class="btn-login-pill">Sign In</a>
        }
    </div>
</nav>