<div class="auth-container">
    <div class="glass-form animate-in">
        @if (errorService.errorMessage()) {
        <div class="global-error-card">
            <span class="error-icon">⚠️</span>
            <p>{{ errorService.errorMessage() }}</p>
            <button (click)="errorService.clearError()" class="close-error">✕</button>
        </div>
        }

        <header class="auth-header">
            <span class="system-tag">Votta makes your voice heard..</span>
            <h1>Welcome Back</h1>

        </header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="field-group"
                [class.error-field]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="name@domain.com">
                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <span class="field-error">Please enter a valid email.</span>
                }
            </div>

            <div class="field-group"
                [class.error-field]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="••••••••">
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <span class="field-error">Password must be at least 6 characters.</span>
                }
            </div>

            <button type="submit" class="btn-primary-liquid" [disabled]="loginForm.invalid || isLoading()">
                {{ isLoading() ? 'AUTHENTICATING...' : 'LOGIN' }}
            </button>

            <div class="auth-footer">
                <p>Dont have an account? <a routerLink="/signup">Register here</a></p>
            </div>
        </form>
    </div>
</div>