<div class="poll-grid">
    @for (poll of polls(); track poll.id) {
    @let status = getPollStatus(poll.endsAt);

    <div class="poll-card">
        <div class="poll-header">
            <span class="status-indicator" [ngClass]="status.cssClass">
                <i class="clock-icon">🕒</i> {{ status.label }}
            </span>
            <span class="vote-count">{{ poll.totalVotes }} votes</span>
        </div>

        <h3>{{ poll.title }}</h3>

        <button [disabled]="!status.active" (click)="goToPoll(poll.id)" [class.btn-voted]="poll.userHasVoted"
            class="btn-vote">

            @if (poll.userHasVoted) {
            View Your Selection
            } @else {
            {{ status.active ? 'Cast Your Vote' : 'View Results' }}
            }
        </button>
    </div>
    }
</div>